html {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.bigger {
  font-size: 100px;
}

.violet {
  color: blueviolet;
}

.zitieren {
  display: grid;
  grid-column: 1hr 1hr;
  grid-row: 1hr 1hr 1hr;
}
.zitieren:first-child {
  align-self: center;
}
